@model Club_X_International.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
}

<div>
@using (Html.BeginForm("ForgotPassword", "ForgotPassword", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <h2 style="padding-top:100px">Enter your Email</h2>
    <hr />
    @Html.ValidationSummary("",new { @class = "text-danger"})
    <div class="input-group mb-3">
            @Html.TextBoxFor(m => m.Email, new {  @placeholder="Email"})
            @Html.ValidationMessageFor(m => m.Email, "", new { @class="text-danger"})
        <div class="input-group-append">
            <span class="input-group-text fa fa-envelope"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Submit" />
        </div>
    </div>
    <div class="btn-group">
        <span class="text-left">@Html.ActionLink("Login", "Index", "Login", new { @class = "btn btn-outline-info" })</span>
        <span class="text-right">@Html.ActionLink("Register", "Index", "SignUp", new { @class = "btn btn-outline-info" })</span>
    </div>
}
</div>

