@model Club_X_International.Models.PasswordResetModel
@{
    ViewBag.Title = "Reset Password";
}


<div style="padding-top:100px">
@using (Html.BeginForm("ResetPassword", "ForgotPassword", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <h2>ResetPassword</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="input-group mb-3">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "email", @placeholder = "Email" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        <div class="input-group-append">
            <span class="input-group-text fa fa-envelope"></span>
        </div>
    </div>
    <div class="input-group mb-3">
        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new {@name = "Newpassword", @type = "password", @placeholder = "New Password" } })
         @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        <div class="input-group-append">
            <span class="input-group-text fa fa-lock"></span>
        </div>
     </div>
    <div class="input-group mb-3">
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @name = "ConfirmPassword", @type = "password", @placeholder = "Repeat Password" } })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        <div class="input-group-append">
            <span class="input-group-text fa fa-lock"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-outline-primary" value="Change" />
        </div>
    </div>
}
</div>